<!DOCTYPE html>
<html>
<head>
  <title>MultipleFileUpload</title>
  <%= stylesheet_link_tag "application", "jquery_lightbox-0.5" %>
	<%= javascript_include_tag 'jquery-1.5.1.min', 'jquery.tablesorter.min', 'jquery.lightbox-0.5', 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
